.row {
  display: flex;
  /*align-items: flex-end;*/
  margin: 2% 5% 2% 5%;
}

.contrCol {
  flex: 65%;
  padding: 20px;
}

.teamCol {
  flex: 35%;
  overflow: hidden;
}

.tabContent {
  float: right;
}





.collapsed {
  background-color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 0px;
}

.collapsed:hover {
  color: #859900;
}

.collapsed[data-active="on"] {
  color: #859900;
}

.collapsed[data-active="off"] {
  color: black;
}

.collapsed[data-active="off"]:hover {
  color: #859900;
}

.content {
  display: none;
  overflow: hidden;
}

.contLab {
  width: 25%;
  float: left;
  font-weight: bold;
}

.contVal {
  /*width: 75%;*/
  float: left;
  font-weight: normal;
}